<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>    
    <!--<add name="SqlServer2008 Test_User" 
         connectionString="Data Source=DESKTOP-DFTT9LE\SQLSERVER2008;initial catalog=TableDependencyDB;User ID=Test_User;Password=Casadolcecasa1" 
         providerName="System.Data.SqlClient"/>-->
    <!--<add name="SQLServer2008 Test_User"
         connectionString="Data Source=40.86.186.219;initial catalog=TableDependencyDB;User ID=test_user;Password=!Password1"
         providerName="System.Data.SqlClient"/>-->
    <add name="SQLServer2008 Test_User"
         connectionString="Data Source=172.16.91.109;initial catalog=TableDependencyDB;User ID=test_user;Password=!Password1"
         providerName="System.Data.SqlClient"/>
    <!--<add name="SQLServer2008 sa"
         connectionString="Data Source=DESKTOP-DFTT9LE\SQLSERVER2008;initial catalog=TableDependencyDB;User ID=sa;Password=Casadolcecasa1"
         providerName="System.Data.SqlClient"/>-->
    <!--<add name="SQLServer2008 sa"
         connectionString="Data Source=40.86.186.219;initial catalog=TableDependencyDB;User ID=my_sys_admin;Password=6303Password1!"
         providerName="System.Data.SqlClient"/>-->
    <add name="SQLServer2008 sa"
         connectionString="Data Source=172.16.91.109;initial catalog=TableDependencyDB;User ID=sa;Password=!Password1"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

</configuration>
